#logo {
	background-image: url(images/top_logo.jpg);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
#top_menu {
	background-image: url(images/top_menu.jpg);
	background-repeat: no-repeat;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.left {
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}


.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	height: 15px;
	width: 740px;
}
.main {
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "MS Reference Sans Serif";
	font-size: 11px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.main h3 {
	font-family: "MS Reference Sans Serif";
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	text-indent: 0px;
	padding-left: 20px;
}

.main p {
	margin-left: 20px;
}


.welcome {
	border: 1px solid #666666;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	color: #000000;
	background-color: #ffffff;
}
.main1 h3 {
	font-family: "MS Reference Sans Serif";
	text-transform: none;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
}



.bottom {
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.main img {
	float: left;
	position: relative;
	top: 0px;
	right: 0px;
	padding-right: 20px;
}

#top_menu td a {
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
#top_menu td a:hover {

	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.bottom_menu {
	text-decoration: none;
	background-image: url(images/bottom_menu.jpg);
	background-repeat: no-repeat;
}
#bottom_table {
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
}
#bottom_table a {
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#bottom_table a:hover {
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.side_bar {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	color: #000066;
	font-family: "MS Reference Sans Serif";
	font-size: 11px;
	margin: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	background-image: url(images/bg2.jpg);
}

.side_bar img {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
.indent {
	margin-left: 25px;
	float: none;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#topics {

	width: 200px;
	margin-bottom: 25px;
}
#topics ul {

	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#topics li {

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
#topics a:hover {
	color: #334755;
	background-image: url(images/topics_background.jpg);
	background-repeat: repeat-x;
	background-position: 0px -25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;
}
#topics a {
	color: #334755;
	background-color: #829099;
	background-image: url(images/topics_background.jpg);
	background-repeat: repeat-x;
	display: block;
	width: 200px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #334755;
	border-right-color: #334755;
	border-bottom-color: #334755;
	border-left-color: #334755;
	text-decoration: none;
	text-align: center;
}
.side_bar_up {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: #ffffff;
	font-family: "MS Reference Sans Serif";
	font-size: 11px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.side_bar_down {

	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: #ffffff;
	font-family: "MS Reference Sans Serif";
	font-size: 11px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.main h5 {
	text-indent: 20px;
	display: none;
}
.main1 {

	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: "MS Reference Sans Serif";
	font-size: 11px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.main1 p {
	padding-left: 20px;
}
.main1  img {
	margin-right: 20px;
}
.main1 #officer {
	background-color: #ffffff;
	height: 150px;
	border: 1px solid #666666;
	padding-top: 25px;
	margin-left: 20px;
	width: 450px;
	margin-top: 70px;
}
.ident1 {
	display: block;
	margin-left: 20px;
}
.img1 {
	padding-top: 10px;
	float: none;
	padding-left: 30px;
}
